<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>		
	</appSettings>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension,
													Microsoft.Practices.Unity.Interception.Configuration"/>
		<assembly name="AspectModule"/>
		<namespace name="AspectModule"/>
		<typeAliases>
			<!-- Lifetime Manager types -->
			<typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
			<typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity"/>		
			<typeAlias alias="external" type="Microsoft.Practices.Unity.ExternalControlledLifetimeManager, Microsoft.Practices.Unity"/>
			
			<!-- Application specific types -->
      <typeAlias alias="IApp" type="EmbeddedDesignerStudio.Interfaces.IApp, EmbeddedDesignerStudio"/>
      <typeAlias alias="App" type="EmbeddedDesignerStudio.App, EmbeddedDesignerStudio"/>
      <typeAlias alias="IMainWindow" type="EmbeddedDesignerStudio.Interfaces.IMainWindow, EmbeddedDesignerStudio"/>
      <typeAlias alias="MainWindow" type="EmbeddedDesignerStudio.MainWindow, EmbeddedDesignerStudio"/>
			<typeAlias alias="IServiceLocator" type="Core.Interfaces.Services.IServiceLocator, Core"/>
			<typeAlias alias="ServiceLocator" type="Core.Services.ServiceLocator, Core"/>
			<typeAlias alias="IMainProgram" type="GuiModule.Interfaces.IMainProgram, GuiModule"/>
			<typeAlias alias="MainProgram" type="GuiModule.Program, GuiModule"/>
			<typeAlias alias="IForm" type="Core.Interfaces.Views.IForm, Core"/>
			<typeAlias alias="MainForm" type="GuiModule.Forms.MainForm, GuiModule"/>
			<typeAlias alias="IFormDialog" type="Core.Interfaces.Views.IFormDialog, Core"/>
			<typeAlias alias="TemplateBrowserDialog" type="GuiModule.Dialogs.TemplateBrowserDialog, GuiModule"/>
			<typeAlias alias="ICustomControl" type="Core.Interfaces.Views.ICustomControl, Core"/>
			<typeAlias alias="TemplateExplorerView" type="WorkspaceProviderModule.Explorer.Views.TemplateExplorerView, WorkspaceProviderModule"/>
			<typeAlias alias="IWorkspaceBrowserViewModel" type="WorkspaceProviderModule.Explorer.Interfaces.IWorkspaceBrowserViewModel, WorkspaceProviderModule"/>
			<typeAlias alias="WorkspaceBrowserViewModel" type="WorkspaceProviderModule.Explorer.ViewModels.WorkspaceBrowserViewModel, WorkspaceProviderModule"/>
			<typeAlias alias="IWorkspaceProvider" type="WorkspaceProviderModule.Explorer.Interfaces.IWorkspaceProvider, WorkspaceProviderModule"/>
			<typeAlias alias="WorkspaceProvider" type="WorkspaceProviderModule.Explorer.Providers.WorkspaceProvider, WorkspaceProviderModule"/>
			<typeAlias alias="ITemplateProvider" type="TemplateProviderModule.Interfaces.ITemplateProvider, TemplateProviderModule"/>
			<typeAlias alias="TemplateProvider" type="TemplateProviderModule.Providers.TemplateProvider, TemplateProviderModule"/>
			<typeAlias alias="ITypeProvider" type="TemplateProviderModule.Interfaces.ITypeProvider, TemplateProviderModule"/>
			<typeAlias alias="TypeProvider" type="TemplateProviderModule.Providers.TypeProvider, TemplateProviderModule"/>
		</typeAliases>		
		<containers>
			<container name="EmbeddedDesignerStudioMainContainer">
        <extension type="UnityLog4NetExtension.Log4Net.Log4NetExtension, UnityLog4NetExtension"/>
        <extension type="LoggerModule.LoggerCreationExtension, LoggerModule"/>
				<extension type="Interception"/>
				<interception>
          <policy name="LoggingPolicy_EmbeddedDesignerStudio">
            <matchingRule name="LoggingMatchingRule_EmbeddedDesignerStudio" type="NamespaceMatchingRule">
              <constructor>
                <param name="namespaceName" value="EmbeddedDesignerStudio"/>
              </constructor>
            </matchingRule>
            <callHandler name="LoggingHandler" type="AspectModule.Aspects.LoggingCallHandler, AspectModule"/>
          </policy>
					<policy name="LoggingPolicy_GuiModule">						
						<matchingRule name="LoggingMatchingRule_GuiModule" type="AssemblyMatchingRule">
							<constructor>
								<param name="assemblyName" value="GuiModule"/>
							</constructor>
						</matchingRule>
						<callHandler name="LogginHandler" type="AspectModule.Aspects.LoggingCallHandler, AspectModule"/>
					</policy>
					<policy name="LoggingPolicy_Core">						
						<matchingRule name="LoggingMatchingRule_Core" type="AssemblyMatchingRule">
							<constructor>
								<param name="assemblyName" value="Core"/>
							</constructor>
						</matchingRule>						
						<callHandler name="LogginHandler" type="AspectModule.Aspects.LoggingCallHandler, AspectModule"/>
					</policy>						
					<policy name="LoggingPolicy_Workspace">
						<matchingRule name="LoggingMatchingRule_Workspace" type="AssemblyMatchingRule">
							<constructor>
								<param name="assemblyName" value="WorkspaceProviderModule"/>
							</constructor>
						</matchingRule>						
						<callHandler name="LogginHandler" type="AspectModule.Aspects.LoggingCallHandler, AspectModule"/>
					</policy>	
					<policy name="LoggingPolicy_Template">
						<matchingRule name="LoggingMatchingRule_Template" type="AssemblyMatchingRule">
							<constructor>
								<param name="assemblyName" value="TemplateProviderModule"/>
							</constructor>
						</matchingRule>						
						<callHandler name="LogginHandler" type="AspectModule.Aspects.LoggingCallHandler, AspectModule"/>
					</policy>          
				</interception>
        <type type="IApp" mapTo="App">
          <lifetime type="singleton"/>
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="PolicyInjectionBehavior"/>
        </type>
        <type type="IMainWindow" mapTo="MainWindow">
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="PolicyInjectionBehavior"/>
        </type>
				<type type="IMainProgram" mapTo="MainProgram">
					<interceptor type="InterfaceInterceptor"/>
					<interceptionBehavior type="PolicyInjectionBehavior"/>
				</type>
				<type type="IForm" mapTo="MainForm" name="MainWindow">
					<interceptor type="VirtualMethodInterceptor"/>
					<interceptionBehavior type="PolicyInjectionBehavior"/>
				</type>
				<type type="IFormDialog" mapTo="TemplateBrowserDialog" name="TemplateBrowserDialogWindow">
					<interceptor type="VirtualMethodInterceptor"/>
					<interceptionBehavior type="PolicyInjectionBehavior"/>
				</type>
				<type type="ICustomControl" mapTo="TemplateExplorerView" name="TemplateExplorerViewControl">
					<interceptor type="InterfaceInterceptor"/>
					<interceptionBehavior type="PolicyInjectionBehavior"/>
				</type>
				<type type="IServiceLocator" mapTo="ServiceLocator">
					<interceptor type="InterfaceInterceptor"/>
					<interceptionBehavior type="PolicyInjectionBehavior"/>
				</type>
				<type type="IWorkspaceBrowserViewModel" mapTo="WorkspaceBrowserViewModel">
					<interceptor type="VirtualMethodInterceptor"/>
					<interceptionBehavior type="PolicyInjectionBehavior"/>
				</type>
				<type type="IWorkspaceProvider" mapTo="WorkspaceProvider">
					<interceptor type="VirtualMethodInterceptor"/>
					<interceptionBehavior type="PolicyInjectionBehavior"/>
				</type>	
				<type type="ITemplateProvider" mapTo="TemplateProvider">
					<interceptor type="InterfaceInterceptor"/>
					<interceptionBehavior type="PolicyInjectionBehavior"/>
				</type>
				<type type="ITypeProvider" mapTo="TypeProvider">
					<interceptor type="VirtualMethodInterceptor"/>
					<interceptionBehavior type="PolicyInjectionBehavior"/>
				</type>
			</container>
		</containers>
	</unity>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Serialization.Formatters.Soap" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="mscorlib" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Accessibility" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Windows.Forms" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Drawing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Configuration" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlXml" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Xml" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Deployment" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
